---
import { marked } from "marked";
import site from "../data/site.json";
import Layout from "../layouts/Layout.astro";

const {
  siteLogo,
  siteTitle,
  subtitle,
  ownerPhoto,
  cv,
  social,
  googleMapsUrl,
  poetryBlogUrl,
  pageContent
} = site;

const {
  facebook,
  twitter,
  youtube,
  instagram,
  linkedin
} = social;

const renderedPageContent = marked.parse(site.pageContent || "");
---

<Layout title={siteTitle} description={subtitle}>
  <Fragment slot="head">
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content={siteTitle} />
    <meta property="og:title" content={siteTitle} />
    <meta property="og:description" content={subtitle} />
    <meta property="og:url" content="/" />
    <meta property="og:image" content={siteLogo} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@i_am_guni" />
    <meta name="twitter:creator" content="@i_am_guni" />
    <meta name="twitter:title" content={siteTitle} />
    <meta name="twitter:description" content={subtitle} />
    <meta name="twitter:image" content={siteLogo} />
    <script type="application/ld+json" set:html={JSON.stringify({"@context":"https://schema.org","@type":"Person","name":"Gurmeet Singh","sameAs":["https://www.facebook.com/iamguni/","https://x.com/i_am_guni","https://www.instagram.com/i_am_guni/","https://www.youtube.com/@iamguni","https://www.linkedin.com/in/iamguni/"]})} />
  </Fragment>
  <div id="page" class="site">
<a class="skip-link screen-reader-text" href="#primary">Skip to content</a>
<header class="site-header px-hstyle1" id="masthead">
<div class="container-fluid pxm-style1">
<div class="navigation mx-4">
<div class="d-flex">
<div class="pxms1-logo">
</div>
<div class="pxms1-menu ms-auto">
<nav class="main-navigation" id="site-navigation">
<div class="menu-mainmenu-container"><ul class="portfoliox-menu" id="portfoliox-menu"><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-37 current_page_item menu-item-64" id="menu-item-64"><a aria-current="page" href="/">About me</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-63" id="menu-item-63"><a href="/sitemap/">Sitemap</a></li>
</ul></div> </nav><!-- #site-navigation -->
</div>
</div>
</div>
</div>
</header><!-- #masthead -->
<!-- home -->
<section class="home" id="home">
<div class="container">
<div class="home-all-content">
<div class="row">
<div class="col-lg-6">
<div class="content">
<h5>WELCOME TO MY WORLD</h5>
<h1>Hi, I'm Gurmeet <br/><span id="type1">{siteTitle}</span></h1>
<a class="btn btn-hero" href={cv}>Download CV</a>
<a class="btn btn-hero" href={poetryBlogUrl}>My Poetry Blog</a>
</div>
</div>
<div class="col-lg-6">
<div class="hero-img">
<img alt="" src={ownerPhoto}/>
</div>
</div>
</div>
</div>
</div>
</section>
<div class="container mt-5 mb-5 pt-5 pb-5">
<div class="row">
<div class="col-lg-12">
<main class="site-main" id="primary">
<article class="post-37 page type-page status-publish hentry" id="post-37">
<header class="entry-header page-header">
<h1 class="entry-title">About me</h1> </header><!-- .entry-header -->
<div class="entry-content">
<div class="elementor elementor-37" data-elementor-id="37" data-elementor-type="wp-post">
<div class="elementor-element elementor-element-6e15dcd e-flex e-con-boxed e-con e-parent" data-element_type="container" data-id="6e15dcd">
<div class="e-con-inner">
<div class="elementor-element elementor-element-32a5b63 elementor-widget elementor-widget-text-editor" data-element_type="widget" data-id="32a5b63" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
<p></p>
<div class="page-content" set:html={renderedPageContent}></div>
</div>
</div>
<div class="elementor-element elementor-element-c2fa89e elementor-shape-rounded elementor-grid-0 e-grid-align-center elementor-widget elementor-widget-social-icons" data-element_type="widget" data-id="c2fa89e" data-widget_type="social-icons.default">
<div class="elementor-widget-container">
<div class="elementor-social-icons-wrapper elementor-grid" role="list">
<span class="elementor-grid-item" role="listitem">
<a class="elementor-icon elementor-social-icon elementor-social-icon-facebook elementor-repeater-item-dd6e2bf" href={`https://www.facebook.com/${facebook}`} target="_blank">
<span class="elementor-screen-only">Facebook</span>
<svg aria-hidden="true" class="e-font-icon-svg e-fab-facebook" viewbox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z"></path></svg> </a>
</span>
<span class="elementor-grid-item" role="listitem">
<a class="elementor-icon elementor-social-icon elementor-social-icon-twitter elementor-repeater-item-614f04f" href={`https://x.com/${twitter}`} target="_blank">
<span class="elementor-screen-only">Twitter</span>
<svg aria-hidden="true" class="e-font-icon-svg e-fab-twitter" viewbox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"></path></svg> </a>
</span>
<span class="elementor-grid-item" role="listitem">
<a class="elementor-icon elementor-social-icon elementor-social-icon-youtube elementor-repeater-item-1d8b314" href={`https://www.youtube.com/${youtube}`} target="_blank">
<span class="elementor-screen-only">Youtube</span>
<svg aria-hidden="true" class="e-font-icon-svg e-fab-youtube" viewbox="0 0 576 512" xmlns="http://www.w3.org/2000/svg"><path d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z"></path></svg> </a>
</span>
<span class="elementor-grid-item" role="listitem">
<a class="elementor-icon elementor-social-icon elementor-social-icon-wordpress elementor-repeater-item-927a8c8" href={poetryBlogUrl} target="_blank">
<span class="elementor-screen-only">WordPress</span>
<svg aria-hidden="true" class="e-font-icon-svg e-fab-wordpress" viewbox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M61.7 169.4l101.5 278C92.2 413 43.3 340.2 43.3 256c0-30.9 6.6-60.1 18.4-86.6zm337.9 75.9c0-26.3-9.4-44.5-17.5-58.7-10.8-17.5-20.9-32.4-20.9-49.9 0-19.6 14.8-37.8 35.7-37.8.9 0 1.8.1 2.8.2-37.9-34.7-88.3-55.9-143.7-55.9-74.3 0-139.7 38.1-177.8 95.9 5 .2 9.7.3 13.7.3 22.2 0 56.7-2.7 56.7-2.7 11.5-.7 12.8 16.2 1.4 17.5 0 0-11.5 1.3-24.3 2l77.5 230.4L249.8 247l-33.1-90.8c-11.5-.7-22.3-2-22.3-2-11.5-.7-10.1-18.2 1.3-17.5 0 0 35.1 2.7 56 2.7 22.2 0 56.7-2.7 56.7-2.7 11.5-.7 12.8 16.2 1.4 17.5 0 0-11.5 1.3-24.3 2l76.9 228.7 21.2-70.9c9-29.4 16-50.5 16-68.7zm-139.9 29.3l-63.8 185.5c19.1 5.6 39.2 8.7 60.1 8.7 24.8 0 48.5-4.3 70.6-12.1-.6-.9-1.1-1.9-1.5-2.9l-65.4-179.2zm183-120.7c.9 6.8 1.4 14 1.4 21.9 0 21.6-4 45.8-16.2 76.2l-65 187.9C426.2 403 468.7 334.5 468.7 256c0-37-9.4-71.8-26-102.1zM504 256c0 136.8-111.3 248-248 248C119.2 504 8 392.7 8 256 8 119.2 119.2 8 256 8c136.7 0 248 111.2 248 248zm-11.4 0c0-130.5-106.2-236.6-236.6-236.6C125.5 19.4 19.4 125.5 19.4 256S125.6 492.6 256 492.6c130.5 0 236.6-106.1 236.6-236.6z"></path></svg> </a>
</span>
<span class="elementor-grid-item" role="listitem">
<a class="elementor-icon elementor-social-icon elementor-social-icon-instagram elementor-repeater-item-0410853" href={`https://www.instagram.com/${instagram}/`} target="_blank">
<span class="elementor-screen-only">Instagram</span>
<svg aria-hidden="true" class="e-font-icon-svg e-fab-instagram" viewbox="0 0 448 512" xmlns="http://www.w3.org/2000/svg"><path d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"></path></svg> </a>
</span>
<span class="elementor-grid-item" role="listitem">
<a class="elementor-icon elementor-social-icon elementor-social-icon-linkedin elementor-repeater-item-dd09cbb" href={`https://www.linkedin.com/in/${linkedin}/`} target="_blank">
<span class="elementor-screen-only">Linkedin</span>
<svg aria-hidden="true" class="e-font-icon-svg e-fab-linkedin" viewbox="0 0 448 512" xmlns="http://www.w3.org/2000/svg"><path d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"></path></svg> </a>
</span>
<span class="elementor-grid-item" role="listitem">
<a class="elementor-icon elementor-social-icon elementor-social-icon-map elementor-repeater-item-5dff2d4" href={googleMapsUrl} target="_blank">
<span class="elementor-screen-only">Map</span>
<svg aria-hidden="true" class="e-font-icon-svg e-fas-map" viewbox="0 0 576 512" xmlns="http://www.w3.org/2000/svg"><path d="M0 117.66v346.32c0 11.32 11.43 19.06 21.94 14.86L160 416V32L20.12 87.95A32.006 32.006 0 0 0 0 117.66zM192 416l192 64V96L192 32v384zM554.06 33.16L416 96v384l139.88-55.95A31.996 31.996 0 0 0 576 394.34V48.02c0-11.32-11.43-19.06-21.94-14.86z"></path></svg> </a>
</span>
</div>
</div>
</div>
</div>
</div>
</div>
</div><!-- .entry-content -->
</article><!-- #post-37 -->
</main><!-- #main -->
</div>
</div>
</div>
<footer class="site-footer pt-3 pb-3" id="colophon">
<div class="container">
<div class="site-info text-center">
<a href={poetryBlogUrl}>Designed by Gurmeet Singh</a>
<span class="sep"></span>
</div><!-- .site-info -->
</div><!-- .container -->
</footer><!-- #colophon -->
</div>
</Layout>
